/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); */
/*========== Properties ==========*/
:root{
	--ff:'Nanum Gothic', sans-serif;--fp:62.5%;--fs:1.6rem;
	--radius:.8rem;	--radius-sm: calc(var(--radius) * 0.5);
	--gap:1.6rem; --gap-xsm:calc(var(--gap) * 0.25);--gap-sm:calc(var(--gap) * 0.5);--gap-lg:calc(var(--gap) * 2);--gap-xlg:calc(var(--gap) * 4);
	--tran: all 0.25s ease;--tran-slow: all 0.5s ease;--tran-fast: all 0.1s ease;
	--size-max:445px;--size-min:320px;--size-min-height:calc(var(--vh, 1vh) * 100);

	--text: hsl(353, 40%, 4%);
	--background: #f9f9f9;/*60*/
	--primary: hsl(37, 100%, 54%);/*30*/
	--second: hsl(202, 75%, 59%);/*30*/
	--accent: hsl(0, 89%, 47%);/*10*/

	--border: hsl(0, 6%, 93%);
	--muted: hsl(188, 8%, 80%);
	--white: hsl(0, 0%, 100%);
	--red:#dc2626;

	--primary-light: hsl(37, 100%, 84%);
    --primary-dark:#f68500;

	--layout-size:24rem; /*ex)반응형 가변적 설정*/

	--z-index-header:100;
	--z-index-popup:200;
	--z-index-modal:300;
	--z-index-overlay:400;
	--z-index-setup:500;
}
/*========== Reset Element ==========*/
html{font-family:var(--ff);font-size:var(--fp);}
body{min-height:var(--size-min-height);font-size:var(--fs);line-height: 1.5;background-color: var(--background);}
h1{font-size:4rem;}h2{font-size:3.2rem;}h3{font-size:2.4rem;}h4{font-size:2rem;}h5{font-size:1.6rem;}h6{font-size:1.2rem;}
small{font-size:0.8em;}button{cursor: pointer;outline: none;border: none;}
hr{border: 0;height: 1px;background-color: rgba(0, 0, 0, 0.1);margin: var(--gap) 0;}ul, ol{list-style: none;}
/*============ Layout ============*/
.container{min-height:100vh;width:clamp(var(--size-min),100%,var(--size-max));margin:auto;}
#header{height: 6rem; width:clamp(var(--size-min),100%,var(--size-max));position: fixed;top: 0;left: 50%;transform: translateX(-50%);background-color: #ccc;z-index: var(--z-index-header);}
#main{padding: 6rem 0;}
#footer{height: 6rem; width:clamp(var(--size-min),100%,var(--size-max));position: fixed;bottom: 0;left: 50%;transform: translateX(-50%);background-color: #ccc;z-index: var(--z-index-header);}

.popup{display: none; position: absolute;top: 0;left:50%;transform: translateX(-50%); z-index: var(--z-index-popup);background-color: #fff;}
.popup.active{display: block;}
body:has(.popup.active){overflow: hidden;}

#_download{min-height: 100vh;width:100%;display: flex;top: 0;left: 0; justify-content: center;align-items: center; position: fixed;background-color: rgba(0, 0, 0, 0.65);backdrop-filter: blur(5px);transition: opacity 0.2s;visibility: hidden;opacity: 0;z-index: var(--z-index-setup);}
#_download section{background-color: #fff;padding: 20px;border-radius: 5px;box-shadow: 0 0 10px rgba(0,0,0,0.1);width: 300px;text-align: center;}
#_download .bar{width:100%;height:7px;background:#dedede;border-radius:3px;position: relative;margin-top:15px;overflow: hidden;position:relative;}
#_download .bar > i{position:absolute;top:0;left:0;height:100%;display: block;background:#ff7844;width:0;transition:.2s;-webkit-transition:.2s;-moz-transition:.2s;}
#_download.active{visibility: visible;opacity: 1;}
/*============ Common Element ============*/
.btn{padding: var(--gap-sm) var(--gap);transition: var(--tran);}