/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); */
/*========== Properties ==========*/
:root{
	--ff:'Nanum Gothic', sans-serif;--fp:62.5%;--fs:1.8rem;
	--radius:.8rem;	--radius-sm: calc(var(--radius) * 0.5);
	--gap:1.6rem; --gap-xsm:calc(var(--gap) * 0.25);--gap-sm:calc(var(--gap) * 0.5);--gap-lg:calc(var(--gap) * 2);--gap-xlg:calc(var(--gap) * 4);
	--tran: all 0.25s ease;--tran-slow: all 0.5s ease;--tran-fast: all 0.1s ease;
	--size-max:445px;--size-min:320px;--size-min-height:calc(var(--vh, 1vh) * 100);

	--text: #333;
	--background: #f9f9f9;/*60*/
	--primary: #faedcd;/*30*/
	--second: #e9edc9;/*30*/
	--accent: #ccd5ae;/*10*/

	--border: hsl(0, 6%, 93%);
	--muted: #ccc;
	--white: hsl(0, 0%, 100%);
	--red:#dc2626;

	--primary-light: #fefae0;
    --primary-dark:#d4a373;

	--layout-size:24rem; /*ex)반응형 가변적 설정*/

	--z-index-header:100;
	--z-index-popup:200;
	--z-index-modal:300;
	--z-index-overlay:400;
	--z-index-setup:500;
}
/*========== Reset ==========*/
html{font-family:var(--ff);font-size:var(--fp);}
body{min-height:var(--size-min-height);font-size:var(--fs);line-height: 1.5;background-color: var(--second);color: var(--primary-dark);word-break: keep-all;}
h1,h2,h3,h4,h5,h6{font-weight: bold;}strong{font-weight: bold;}
h1{font-size:4rem;}h2{font-size:3.2rem;}h3{font-size:2.4rem;}h4{font-size:2rem;}h5{font-size:1.6rem;}h6{font-size:1.2rem;}
small{font-size:0.8em;}button{cursor: pointer;outline: none;border: none;}
hr{border: 0;height: 1px;background-color: rgba(0, 0, 0, 0.1);margin-block: var(--gap);}ul, ol{list-style: none;}
/*============ Layout ============*/
#header{display: flex;justify-content: space-between;align-items: center;padding: var(--gap);background-color: var(--primary-dark);color: var(--primary-light);position: relative;}
#header.plan-progress-bar::after{content: '';height: .5rem;width: var(--completion-rate);background-color: var(--primary);position: absolute;bottom: 0;left: 0;opacity: 0.5;transition: width 0.3s ease;}
#main{padding-block:var(--gap-sm); overflow: auto;max-height: calc(100vh - 12rem);}
#footer{display:grid;grid-template-columns: 1fr 1fr;background-color: var(--primary-dark);}
#footer a{display:flex;justify-content: center;align-items: center;gap: var(--gap-sm);background-color: var(--primary);color: var(--primary-dark);transition: var(--tran);border: none;}
#footer a.active{background-color: var(--primary-dark);color: var(--primary);}
.container{min-height:100vh;width:clamp(var(--size-min),100%,var(--size-max));margin:auto;}
.container.main{display: grid;grid-template-rows: 6rem 1fr 6rem; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);background-color: var(--background);}
.popup{display: none; position: fixed;top: 0;left:50%;transform: translateX(-50%); z-index: var(--z-index-popup);background-color: #fff;}
.popup.active{display: block;}body:has(.popup.active){overflow: hidden;}
/*============ Popup & Modal & Slide ============*/
#popup-intro{flex-direction: column;justify-content: space-between;align-items: center;gap: var(--gap-lg); text-align: center;padding: var(--gap-xlg) var(--gap); background-color: var(--primary-dark);color: var(--primary);}
#popup-intro.active{display: flex;}
#popup-intro > * {display: grid;gap: var(--gap-sm);}#popup-intro header img{width: 12rem;margin: auto;}

#popup-plan, #popup-help{display: block; background-color: var(--white);transform:translateX(-50%) scale(0.8);opacity: 0;transition: transform 0.3s ease-out, opacity 0.3s ease-out;pointer-events: none;}
#popup-plan.active, #popup-help.active{display: grid; grid-template-rows: 6rem 1fr 6rem;transform: translateX(-50%) scale(1);opacity: 1;pointer-events: auto;}

#popup-plan header, #popup-help header{padding: var(--gap);display: flex;justify-content: space-between;align-items: center;border-bottom: 1px solid var(--border)}
#popup-plan main, #popup-help main{flex: 1; padding: var(--gap);max-height: calc(100vh - 12rem);overflow-x: hidden;overflow-y: auto;}
#popup-plan footer{display: flex;}
#popup-plan footer button{display: flex;justify-content: center; flex: 1;padding: var(--gap);background-color: var(--primary);color: var(--primary-dark);border: none;transition: var(--tran);}
#popup-plan footer button:hover{opacity:.85;}
#popup-plan footer button.active{background-color: var(--primary-dark);color: var(--primary);}	
#popup-plan footer button.active svg{fill: var(--primary);}	

#popup-plan main .step{display: grid;gap: var(--gap);margin-top: var(--gap);}
#popup-plan main .step h4{font-weight: bold;text-align: center;}
#popup-plan main .step ul{display: grid;gap: var(--gap);}
#popup-plan main .step ul li{border: 1px solid var(--border);border-radius: var(--radius);overflow: hidden;}
#popup-plan main .step ul li label{display: flex;justify-content: space-between;align-items: center;padding: var(--gap);gap:var(--gap); cursor: pointer;transition: var(--tran);}
#popup-plan main .step input{display: none;}
#popup-plan main .step p{display: block;color: var(--accent);}
#popup-plan main .step ul li label:hover{background-color: var(--primary-light);}
#popup-plan main .step ul li:has(input:checked) label{background-color: var(--primary-dark);color: var(--primary-light);}
#popup-plan main .step ul li label::after{content: '✓'; color: transparent;}
#popup-plan main .step ul li:has(input:checked) label::after{content: '✓'; color: inherit;}
#popup-plan main .step ul li:has(input:checked) p{color: var(--white);}

#slide-settings{background-color: var(--white);color: var(--primary-dark);display: flex;flex-direction: column;}
#slide-settings > header{min-height: 20rem; background-color: var(--second);padding: var(--gap); position: relative;}
#slide-settings > header a.btn-round{position: absolute;top: var(--gap-sm);right: var(--gap-sm);}
#slide-settings > header .info{display: grid;gap: var(--gap);place-items: center;}
#slide-settings > header .info h5, h6{opacity: .75;}
#slide-settings > header .info button{background-color: var(--muted);color: var(--white);}	
#slide-settings > header .info .info-title{position: relative;}
#slide-settings > main{flex: 1; display: flex;flex-direction: column;justify-content: space-between;}


/*============ Download & Etc ============*/
#_download{min-height: 100vh;width:100%;display: flex;top: 0;left: 0; justify-content: center;align-items: center; position: fixed;background-color: rgba(0, 0, 0, 0.65);backdrop-filter: blur(5px);transition: opacity 0.2s;visibility: hidden;opacity: 0;z-index: var(--z-index-setup);}
#_download section{background-color: #fff;padding: 20px;border-radius: 5px;box-shadow: 0 0 10px rgba(0,0,0,0.1);width: 300px;text-align: center;}
#_download .bar{width:100%;height:7px;background:#dedede;border-radius:3px;position: relative;margin-top:15px;overflow: hidden;position:relative;}
#_download .bar > i{position:absolute;top:0;left:0;height:100%;display: block;background:var(--primary-dark);width:0;transition:.2s;-webkit-transition:.2s;-moz-transition:.2s;}
#_download.active{visibility: visible;opacity: 1;}

#bible-nav{flex:1; display: flex;align-items: center;gap: var(--gap-sm);}
#bible-nav a{display: block; text-decoration: underline;text-underline-offset: .5rem;}
#bible-nav a:hover{font-weight: bold;transform: scale(1.1);}
#bible-nav a::after{content: '›';display: inline-flex;margin-left: var(--gap-sm);font-weight: normal;transform: none;}
#bible-nav a:last-child{text-decoration: none;font-weight: bold;font-size: 1.2em;transform: none;}#bible-nav a:last-child::after{content: '';}
/*============ Common ============*/
.btn{display: inline-flex;justify-content: center;align-items: center;padding: var(--gap-sm) var(--gap);background-color: var(--primary);color: var(--primary-dark);transition: var(--tran);border-radius: var(--radius);}
.btn:hover{opacity: .8;}
.btn img{width: 2.4rem;height: 2.4rem; margin-right: var(--gap-sm);}
.btn-round{display: inline-flex;justify-content: center;align-items: center;width: 4.8rem;height: 4.8rem; border-radius: 50%; transition: var(--tran);}
.btn-round:hover{background-color: rgba(0, 0, 0, 0.075);}
.btn-icon{display: inline-block;width: 4.8rem;height: 4.8rem;border-radius: 50%;background-size: 2.4rem;background-position: center;  background-repeat: no-repeat;overflow: hidden;text-indent: -99999px;transition: var(--tran);}
.btn-icon:hover{background-color: rgba(0, 0, 0, 0.075);}
.btn-icon.settings{background-image: url(/images/icon_settings.png);}
.btn-icon.selected-all{background-image: url(/images/icon_select.png);}

#plan-progress{display: block;text-align: center;opacity: 0.75;}

#plan-list h4{margin-bottom: var(--gap);font-weight: bold;display: flex;justify-content: space-between;align-items: center;padding:0 var(--gap);}
#plan-list table{border-collapse: collapse;caption-side: bottom;width: 100%;margin-bottom: var(--gap);}
#plan-list table:last-child{margin-bottom: 0;}
#plan-list table tr{transition: var(--tran);cursor: pointer;}
#plan-list table td{border-top: 1px solid var(--border);border-bottom: none;padding: var(--gap-sm);vertical-align: middle;}
#plan-list table td:last-child{text-align: right;}
#plan-list table tr:last-child td{border-bottom: 1px solid var(--border);}
#plan-list table tr.active{background-color: var(--primary-light);}
#plan-list table tr.active td:not(:last-child){text-decoration: line-through;}
#plan-list table i{opacity: 0;transition: var(--tran);}
#plan-list table tr.active i{opacity: 1;}
#plan-list table tr.split{border-top: 4px double;}
#plan-list table td b{font-size: .8em;text-overflow: ellipsis;}

.bible-list{padding:var(--gap);display: grid;gap: var(--gap-sm);}																								  .bible-list
.bible-list h4{margin-bottom: var(--gap);}
.bible-list ul{margin-bottom: var(--gap);display: grid;gap: var(--gap-sm);grid-template-columns: repeat(auto-fit, minmax(min(100%,12rem), 1fr));}
.bible-list ul li{user-select: none; padding: var(--gap-sm);cursor: pointer;outline: 1px solid var(--border);transition: var(--tran);border-radius: var(--radius-sm);text-align: center;font-size: clamp(1.6rem, calc(1vw + 1vh + 0.4vmin), var(--fs));}
.bible-list ul li:hover{background-color: var(--primary-dark);color: var(--primary-light);}
.bible-list ul:last-child{margin-bottom: 0;}
.bible-list.type-chapter ul{grid-template-columns: repeat(auto-fit, minmax(min(100%,6rem), 1fr));}
.bible-list p{margin-bottom: var(--gap-xsm);cursor: default;}
.bible-list p sup{opacity: 0.3;padding: var(--gap-xsm);}
/* .bible-list p:active sup{opacity: 1;} */

/* List */
.list{ list-style-type: none; border: 1px solid var(--border);transition: var(--tran);}
.list > * {padding: var(--gap);border-bottom: 1px solid var(--border);overflow: hidden;display: flex;justify-content: space-between;align-items: center;}
.list > *:hover, .list > *.active{background-color:var(--background);}
.list > *:first-child{border-top: none;}
.list > *:last-child{border-bottom: none;}
.list.sm > * {padding: var(--gap-sm);}
.list img{height: 2.4rem;width: 2.4rem;}
/* Switch */
.switch {display: flex;justify-content: space-between;align-items: center;}
.switch input{display: none;}
.switch label{cursor: pointer;}
.switch .lever{display: inline-flex;background-color: var(--muted);width: 8rem;height: 3.5rem;border-radius: 3.5rem;position: relative;}
.switch .lever::before{content: '';display: block;position: absolute;top: 0;left: 0;width: 3.5rem;height: 3.5rem;background-color: var(--white);border-radius: 50%;transition:var(--tran);transform: scale(.9);z-index: 1;}
.switch input:checked ~ .lever{background-color: var(--primary-dark);}
.switch input:checked ~ .lever::before{left: calc(100% - 3.5rem);}
.switch input:checked ~ .lever::after{content: 'ON';left: 1rem;right: auto;}
.switch .lever::after{content: 'OFF';display: block;position: absolute;top: 0;right: 1rem;line-height: 3.5rem;color: var(--white);}
.switch.sm .lever{transform: scale(.8);}
.switch .lever-text{display: flex;align-items: center;color: var(--muted);white-space:nowrap;font-size: clamp(1.2rem, calc(1vw + 1vh + 0.5vmin), 1.6rem);}
.switch input:checked ~ .lever-text{color: var(--primary-dark);}
/* Button Group */
.btn-group{display: grid; grid-template-columns: repeat(3, 1fr);font-size: .75em;}
.btn-group > *:first-child{border-top-left-radius: var(--radius);border-bottom-left-radius: var(--radius);}
.btn-group > *:last-child{border-top-right-radius: var(--radius);border-bottom-right-radius: var(--radius);}

.btn-group input{appearance: none;cursor: pointer;padding: var(--gap-sm);background-color: var(--muted);color: var(--white);}
.btn-group input::before{content: attr(data-label);display: block;text-align: center;}
.btn-group input:checked{background-color: var(--primary-dark);color: var(--primary-light);}

/* ETC. */
.cursor{cursor: pointer;}
.divider{border-top: 1px dashed var(--primary);margin: var(--gap) 0;}
.op-5{opacity: .5;}
.mailto{text-decoration: underline;text-underline-offset: .3em;}
#myfamily, #_version {user-select: none;}
/*============ Animation ============*/
.fadeOut{animation: ani-fadeOut 1s ease forwards;}
@keyframes ani-fadeOut{0%{opacity: 1;}100%{opacity: 0;display: none;}}