/* @import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap'); */
/*========== Properties ==========*/
:root{
	--ff:'Nanum Gothic', sans-serif;--fp:62.5%;--fs:1.6rem;
	--radius:.8rem;	--radius-sm: calc(var(--radius) * 0.5);
	--gap:1.6rem; --gap-xsm:calc(var(--gap) * 0.25);--gap-sm:calc(var(--gap) * 0.5);--gap-lg:calc(var(--gap) * 2);--gap-xlg:calc(var(--gap) * 4);
	--tran: all 0.25s ease;--tran-slow: all 0.5s ease;--tran-fast: all 0.1s ease;
	--size-max:1280px;--size-min:320px;--size-min-height:calc(var(--vh, 1vh) * 100);

	--text: hsl(353, 40%, 4%);
	--background: hsl(0, 0%, 100%);/*60*/
	--primary: hsl(37, 100%, 54%);/*30*/
	--second: hsl(202, 75%, 59%);/*30*/
	--accent: hsl(0, 89%, 47%);/*10*/

	--border: hsl(0, 6%, 93%);
	--muted: hsl(188, 8%, 80%);
	--white: hsl(0, 0%, 100%);
	--red:#dc2626;

	--primary-light: hsl(37, 100%, 84%);
    --primary-dark:#f68500;

	--layout-size:24rem; /*ex)반응형 가변적 설정*/
}
/*========== Reset Element ==========*/
html{font-family:var(--ff);font-size:var(--fp);}
body{min-height:var(--size-min-height);font-size:var(--fs);line-height: 1.5;}
h1{font-size:4rem;}h2{font-size:3.2rem;}h3{font-size:2.4rem;}h4{font-size:2rem;}h5{font-size:1.6rem;}h6{font-size:1.2rem;}
small{font-size:0.8em;}button{cursor: pointer;outline: none;border: none;}
hr{border: 0;height: 1px;background-color: rgba(0, 0, 0, 0.1);margin: var(--gap) 0;}ul, ol{list-style: none;}
/*============ Layout ============*/
.container{position: relative;width:clamp(var(--size-min),100%,var(--size-max));margin:auto;}
/*============ Common Element ============*/
/* Button & Input */
.input{padding: var(--gap-sm); border: 1px solid var(--border);outline: none;background-color: var(--background);color: var(--text);}
.btn{padding: var(--gap-sm) var(--gap); background-color: var(--second);color:var(--white); transition: var(--tran);border: none;}
.btn.muted{background-color: var(--muted);color: var(--white);}
.btn:hover, .btn.active{opacity: .8;}
.btn-icon{padding: var(--gap-sm);transition: var(--tran);border-radius: 50%;cursor: pointer;font-size: 2rem;}
.btn-icon:hover{background-color: var(--background-dark);}
.select{padding: var(--gap-sm);outline: none;}.checkbox, .radio{transform: scale(1.2);outline: none;}
/* Badge */
.badge {display: inline-block;padding: var(--gap-xsm) var(--gap-sm);background-color: var(--accent);font-size: .75em;line-height: 1;color: var(--white);text-align: center;white-space: nowrap;vertical-align: baseline;border-radius: var(--radius-sm);}
/* Table */
table.table{border-collapse: collapse;caption-side: bottom;}
table.table thead th {border-bottom: 1px solid var(--border);background-color: var(--background-dark);text-transform: uppercase;font-weight: bold;}
table.table td, table.table th {border-top: 1px solid var(--border);border-bottom: none;white-space: nowrap;padding: var(--gap-sm) var(--gap);vertical-align: middle;}
/* Card */
.card{background-color: var(--background);border: 1px solid var(--border);border-radius: var(--radius);}
.card-header{border-bottom: 1px solid var(--border);padding: var(--gap);}
.card-body{padding: var(--gap);}
/* List */
.list{ list-style-type: none; border: 1px solid var(--border);border-radius: var(--radius);background-color: var(--white);}
.list > * {padding: var(--gap);border-bottom: 1px solid var(--border);overflow: hidden;}
.list > *:first-child{border-top-right-radius: inherit;border-top-left-radius: inherit;}
.list > *:last-child{border-bottom: none;border-bottom-right-radius: inherit;border-bottom-left-radius: inherit;}
.list > *.active{background-color: var(--primary); color: var(--white);}
.list.sm > * {padding: var(--gap-sm);}
/* Switch */
.switch {display: flex;justify-content: space-between;align-items: center;}
.switch input{display: none;}
.switch label{padding: var(--gap-sm);cursor: pointer;font-weight: bold;}
.switch .lever{display: inline-flex;background-color: var(--muted);width: 8rem;height: 3.5rem;border-radius: 3.5rem;position: relative;}
.switch .lever::before{content: '';display: block;position: absolute;top: 0;left: 0;width: 3.5rem;height: 3.5rem;background-color: var(--white);border-radius: 50%;transition:var(--tran);transform: scale(.9);z-index: 1;}
.switch input:checked ~ .lever{background-color: var(--primary);}
.switch input:checked ~ .lever::before{left: calc(100% - 3.5rem);}
.switch input:checked ~ .lever::after{content: 'ON';left: 1rem;right: auto;}
.switch .lever::after{content: 'OFF';display: block;position: absolute;top: 0;right: 1rem;line-height: 3.5rem;color: var(--white);}
.switch.sm .lever{transform: scale(.7);}
.switch .lever-text{display: flex;align-items: center;color: var(--muted);white-space:nowrap;font-size: clamp(1.2rem, calc(1vw + 1vh + 0.5vmin), 1.6rem);}
.switch input:checked ~ .lever-text{color: var(--primary);}
/* Dialog(Model) */
dialog{margin:0;width: 90%; max-width: 400px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);position: fixed;top: 50%;left: 50%;transform: translate(-50%,-50%);z-index: 9999;background-color: var(--white);border: none;outline: none;}
dialog::backdrop{background-color: rgba(0, 0, 0, 0.85);backdrop-filter: blur(5px);}
dialog main{background-color: var(--background);color: var(--text); padding:var(--gap);min-height: 100px;display: flex;justify-content: center;align-items: center;text-align: center;line-height: 1.5em;}
dialog footer{display: flex;text-align: center;}
dialog footer button{flex: 1;padding: var(--gap);background-color: var(--primary);color: var(--white);font-size: 1.5rem;transition: var(--tran);font-weight: bold;white-space:nowrap;}
dialog footer button:hover{opacity: .8;}
/* Tab */
.tab{list-style-type: none;display: flex;gap: var(--gap);border-bottom: 1px solid var(--border);}
.tab > * {padding: var(--gap-sm) var(--gap);cursor: pointer;}
.tab > *:hover, .tab > *.active{background-color: var(--second);border-top-left-radius: var(--radius);border-top-right-radius: var(--radius);outline: 1px solid var(--border);border-bottom: 1px solid var(--second);}
.tab-body{padding: var(--gap) 0;}.tab-body > *{display: none;}.tab-body > *.active{display: block;}
/*============ Animation ============*/
.fadeIn{animation: ani-fadeIn 1s ease forwards;}
.fadeOut{animation: ani-fadeIn 1s ease reverse forwards;}
@keyframes ani-fadeIn{0%{opacity: 0;}100%{opacity: 1;}}
/*============ Device (Responsive) ============*/
/* Full 모드 */
@media (max-width: 1280px), (max-height: 768px) {
    :root {--layout-size:28rem;}
}
/* 세로 모드 */
@media (orientation: portrait) and (max-width: 1024px){		
	.no-pc{display: none !important;}.no-mobile{display: block !important;}
	:root {--fp:50%; --gap: 1.4rem;--radius: .7rem;--size-width: 100%;}	
}
/* 가로 모드 */
@media (orientation: landscape) and (max-height:530px) and (max-width:1024px){
	.no-pc{display: none !important;}.no-mobile{display: block !important;}
	:root {--fp:35%;--gap: 1.4rem;--size-width: 80%;}
}
